@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 57vh;
}

img#logo-peq, #logo-ins, #logo-fac, #logo-x, #logo-git {
    width: 25px;
    height: 40%;
    position: relative;  
    top: 6px;
    border-radius: 50%; 
}

a#youtube{
    display: block;
    background-color: #5e0000;
    padding-bottom: 10px;
    margin-bottom: 4px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
}

a#youtube:hover {
    background-color: #fff;
    color: #5e0000;
}

a#instagram{
    display: block;
    background-image: linear-gradient(10deg, #ffff00da, #ff0745da, #2929fcda);
    padding-bottom: 10px;
    margin-bottom: 4px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
}

a#instagram:hover {
    color: #ffffff;
    background-color: rgb(255, 255, 255);
}

a#facebook{
    display: block;
    background-color: #44619d;
    padding-bottom: 10px;
    margin-bottom: 4px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
}

a#facebook:hover {
    color: #ffffff;
    background-color:#101725;
}

a#x {
    display: block;
    background-color: #000000;
    padding-bottom: 10px;
    margin-bottom: 4px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
}

a#x:hover {
    color: #000000;
    background-color:#777777;
}

a#github {
    display: block;
    background-color: #000000;
    padding-bottom: 10px;
    margin-bottom: 4px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
}

a#github:hover {
    color: #000000;
    background-color:#777777;
}